@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@custom-media --motionSafe (prefers-reduced-motion: no-preference);

/* NOTE: fb short for frostybee: */

/* Dark mode colors. */
:root {
  color-scheme: dark;
  --sl-hue-blue: 222;
  --sl-text-h3: var(--sl-text-2xl);
  --sl-text-h4: 1.2rem;
  --sl-content-width: 50rem;
  --sl-color-bg: #1b1b1f;
  --sl-color-gray-6: rgb(14, 14, 15);
  --sl-color-hairline: #212929;
  --sl-color-hairline-shade: var(--sl-color-hairline);
  --badge-border-color: --sl-color-hairline;
  --sl-color-accent-low: hsl(228, 70%, 30%);
  --sl-color-accent: hsl(228, 100%, 70%);
  --sl-color-accent-high: #b6c4fb;
  --sl-scrollbar-color: var(--sl-color-accent-high);
  /* SL's main text color  */
  --sl-color-text: #e3e3e3;

  /* Custom variables */
  --fb-ec-caption-bg-color: #020000;
  --fb-code-block-bg-color: #151517;
  /* EC border bottom color */
  --fb-ec-caption-bb-color: #464747;
  --fb-ec-language-color: #c1c2c9;
  --fb-steps-bg-color: var(--sl-color-accent-high);
  /* --fb-steps-bg-color: var(--sl-color-accent-high); */
  --fb-steps-text-color: #010319;
  /* Custom backdrop background color in dark mode. */
  --starlight-image-zoom-backdrop-bg: oklch(0 0 0);
}

body {
  font-weight: 400;
}

/* Light mode colors. */
:root[data-theme='light'] {
  color-scheme: light;
  --sl-text-h3: var(--sl-text-2xl);
  --sl-content-width: 50rem;
  --sl-color-bg: #ffffff;
  --badge-border-color: lightgrey;
  --sl-color-hairline: #edeef3;
  --sl-color-accent-high: hsl(222, 80%, 35%);
  --sl-color-accent: hsl(222, 89%, 55%);
  --sl-color-accent-low: hsl(222, 89%, 85%);
  --purple-hsl: 255, 85%, 65%;
  --sl-color-text: #1C1E21;

  /* Custom variablesf4f6f8 */
  --fb-ec-caption-bg-color: #eff2f3;
  /* EC border bottom color */
  --fb-ec-caption-bb-color: #dadde1;
  --fb-code-block-bg-color: #f6f6f7;
  --fb-ec-language-color: #636467;
  --sl-scrollbar-color: var(--sl-color-accent);
  --fb-steps-bg-color: var(--sl-color-accent);
  --fb-steps-text-color: #f6f6f4f9;
  /* Custom backdrop background color in light mode. */
  --starlight-image-zoom-backdrop-bg: oklch(95% 0 0);
}

:root {
  /* Customize the font style here */

  --sl-font: "Roboto Flex", sans-serif;
  --font-mono: Noto Mono, Menlo, Monaco, Consolas, monospace;
  font-weight: 400;
  --sl-scrollbar-height: 0.3rem;
  --purple-hsl: 205, 60%, 60%;
  --overlay-blurple: hsla(var(--purple-hsl), 0.4);
  text-underline-offset: .25em;
  --border-radius: 8px;
  --space-xs: clamp(1rem, 0.75rem + 0vi, 0.75rem);
  /* Style for theme toggle switch */
  --duration-300: 300ms;
  --duration-400: 400ms;
  --duration-1200: 1200ms;
  --duration-3000: 3000ms;
  --ease: cubic-bezier(0.25, 0, 0.3, 1);
  --ease-elastic: cubic-bezier(0.5, 1.25, 0.75, 1.25);
  --ease-out: cubic-bezier(0, 0, 0, 1);
  --outline-offset: 2px;
  --outline-offset-lg: 4px;
  --outline-width: 2px;
  --color-text-highlight: var(--sl-color-accent);
  /* --color-text-highlight: var(--color-white); */
  --theme-btn-color-text: var(--sl-color-accent-high);
  --outline-width: 2px;
  --rounded-full: 1e5px;
  --header-button-size: 2rem;
  --size-1: 0.25rem;
  --size-npx: -1px;
  --fb-toc-current-item-color: var(--sl-color-accent-high);
  --fb-font-weight-semibold: 500;
  --fb-h5-font-size: .875rem;
  /* Steps component: */
  --steps-hairline-color: var(--sl-color-accent-high);
}


[data-has-hero] .page {
  background: linear-gradient(215deg, var(--overlay-blurple), transparent 40%),
    radial-gradient(var(--overlay-blurple), transparent 40%) no-repeat -60vw -40vh / 105vw 200vh,
    radial-gradient(var(--overlay-blurple), transparent 65%) no-repeat 50% calc(100% + 20rem) / 60rem 30rem;
}

[data-has-hero] header {
  border-bottom: 1px solid transparent;
  background-color: transparent;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}

[data-has-hero] .hero>img {
  filter: drop-shadow(0 0 3rem var(--overlay-blurple));
}

[data-page-title] {
  font-size: 3rem;
}

/* date page title onl 2.5rem on mobile devices */
@media (max-width: 768px) {
  [data-page-title] {
    font-size: 2.5rem;
  }
}

/* --------------------- */
/* - Code block style  - */
/* --------------------- */
.expressive-code {
  border-radius: var(--border-radius);
  box-shadow: var(--sl-shadow-sm);
}

/* CodeBlock overrides */
.sl-markdown-content .expressive-code .ec-line {
  margin-block-start: initial;
}

.codeblock .expressive-code figure.frame {
  margin-block-start: initial;
}

pre.astro-code {
  border: 0;
}

@media screen and (min-width: 80rem) {
  .expressive-code {
    max-width: 48rem;
  }
}

/* Style for the expressive code block component */
/* Code markers */
.expressive-code figcaption {
  border-bottom: 1px solid var(--fb-ec-caption-bb-color) !important;
  background: var(--fb-ec-caption-bg-color) !important;
}

.expressive-code .frame.has-title:not(.is-terminal) .title {
  position: relative;
  /* color: var(--sl-color-text) !important; */
  background: none !important;
  /* border-bottom: 1px solid #dadde1 !important; */
  /* border-bottom: none; */
  font-size: 85%;
  padding: .55rem 1rem !important;
  overflow: hidden;
  font-weight: 600;
}

.expressive-code .frame.has-title:not(.is-terminal) .language-label,
.expressive-code .frame.has-title:not(.is-terminal) .copy {
  margin-top: 0.4rem;
}

.sidebar-content ul:first-child {
  /* background-color: red; */
}

/* Style overrides: Right sidebar, items of the table of content */
.right-sidebar-panel starlight-toc ul li[class^=astro-] :where([aria-current='true'], a:hover) {
  border-left: 3px solid var(--fb-toc-current-item-color);
  /* Optional: space the content from the border */
  padding-left: 8px;
  color: var(--sl-color-accent-high);
  font-weight: 600;
}

/* Pagination override styles */
.pagination-links {

  /* border-block-start: 2px solid var(--sl-color-gray-6); */
  a {
    /* border: 0; */
    box-shadow: initial;
  }

  :hover {
    box-shadow: initial;
    border-color: var(--sl-color-accent-high);
    box-shadow: var(--sl-shadow-sm);
  }

  a>span {
    font-size: var(--fb-h5-font-size);
    font-weight: 600;
  }

  a .link-title {
    color: var(--sl-color-text-accent);
    font-size: 1rem;
    font-weight: 600;
    transition: color 300ms ease-out;
  }
}

/* starlight steps component */
.sl-steps {
  --sl-color-hairline-light: var(--steps-hairline-color);
  --bullet-size: calc(var(--sl-line-height) * 1rem);
  --bullet-margin: .375rem;

  li {
    /* position: relative; */
    /* margin-bottom: 20px; */
    /* Space between steps */
    padding-left: 45px;
    /* Add space for the circle */
  }

  >li:before {
    --fb-steps-dimension: 30px;
    /* background-color: var(--sl-color-accent) !important; */
    background-color: var(--fb-steps-bg-color);
    /* color: #000000 !important; */
    color: var(--fb-steps-text-color) !important;
    box-shadow: none !important;
    font-size: .8rem;
    width: var(--fb-steps-dimension);
    height: var(--fb-steps-dimension);
    text-align: center;
    line-height: var(--fb-steps-dimension);
    /* border: 1px solid #b60f03; */
  }
}

/* Table style overrides */
.sl-markdown-content table {
  width: 100%;
  border-radius: var(--border-radius);

  table code {
    word-break: break-all;
  }

  thead {
    background-color: var(--sl-color-gray-6);
  }

  :is(th, td):not(:where(.not-content *)) {
    /* border: 0; */
    --space-2xs: clamp(0.5rem, 0.5rem + 0vi, 0.5rem);
    padding-block: var(--space-2xs);
    border: 1px solid var(--sl-color-gray-6);
  }

  thead+tbody tr:nth-child(2n):not(:where(.not-content *)) {
    /* background-color: var(--sl-color-gray-7, var(--sl-color-gray-6)); */
    /* TODO: Defined the following variable in dark mode section. */
    background-color: var(--sl-color-gray-7);
  }

  thead+tbody tr:nth-child(2n + 1):not(:where(.not-content *)) {
    background-color: initial;
  }

  tr:nth-child(2n):not(:where(.not-content *)) {
    background-color: initial;
  }

  tr:nth-child(2n + 1):not(:where(.not-content *)) {
    background-color: var(--sl-color-gray-7, var(--sl-color-gray-6));
  }

  :is(th:first-child, td:first-child):not(:where(.not-content *)) {
    padding-inline-start: var(--space-xs);
  }

  :is(th:last-child, td:last-child):not(:where(.not-content *)) {
    padding-inline-end: var(--space-xs);
  }
}
